---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactLink from "../components/ContactLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>Hi! I’m Jonathan. Welcome to my page.</p>
			<p>I’m a programmer living in Brooklyn, NY.</p>
		</main>

		<ContactLink href="https://github.com/jschear">Github</ContactLink>
		<ContactLink rel="me" href="https://recurse.social/@jschear">
			Mastodon
		</ContactLink>
		<ContactLink href="https://twitter.com/jschear_">Twitter</ContactLink>

		<Footer />
	</body>
</html>
