---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactLink from "../components/ContactLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.contact-links {
				margin-top: 2em;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Yahaha! You've found my website. I'm Jonathan, a software engineer
				living in Brooklyn, NY.
			</p>

			<p>
				Professionally, I’ve developed mobile applications and helped make large
				teams of engineers more productive. These days, I’m most interested in
				programming languages, build systems, and digital signal processing.
				Here's what I'm up to <a href="/now">now</a>.
			</p>
		</main>

		<div class="contact-links">
			<ContactLink href="https://github.com/jschear">github</ContactLink>
			<ContactLink href="https://www.linkedin.com/in/jschear/">
				linkedin
			</ContactLink>
			<ContactLink rel="me" href="https://recurse.social/@jschear">
				mastodon
			</ContactLink>
			<ContactLink href="https://bsky.app/profile/jschear.dev">
				bluesky
			</ContactLink>
			<ContactLink href="https://twitter.com/jschear_">twitter</ContactLink>
			<ContactLink href="/email">email</ContactLink>
		</div>
		<Footer />
	</body>
</html>
