---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline src="/_vercel/insights/script.js"></script>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body :global(del) {
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <slot />
    <Footer />
  </body>
</html>
